@keyframes Bounce {
    0%{
        top: 0vw;
        left: 0vw;
    }
    19%{
        transform: scale(1,1);
    }
    20%{
        transform: scale(1.2,0.9);
        left: 7vw;
        top: 13vw;
    }
    22%{
        transform: scale(1,1);
    }
    40%{
        left: 14vw;
        top: 7vw;
    }
    58%{
        transform: scale(1,1);
    }
    60%{
        transform: scale(1.1,0.95);
        left: 21vw;
        top: 13vw;
    }
    62%{
        transform: scale(1,1);
    }
    80%{
        left: 28vw;
        top: 10vw;}
    100%{
        left: 33vw;
        top: 13vw;
    }
}
.container{
    background-color: rgb(94, 94, 94);
    margin: 100px auto 0;
    height: 20vw;
    width: 40vw;
    border: 1px solid;
    box-shadow: 5px 5px 10px 5px rgba(17, 17, 17, 0.534);
}
#ball{
    position: relative;
    height: 7vw;
    width: 7vw;
    background-color: rgb(7, 212, 51);
    border-radius: 50%;
    animation: Bounce 2.5s linear infinite normal;
}