h2{
    color: #fff;
    text-align: center;
    margin: 0;
    line-height: 40px;
}
.menu{
    height: 40px;
    width: 100px;
    margin: 20px auto 0;
    background-color: black;
    border-radius: 1vw;
    transition: height 2s;
}
.menu:hover{
    height: 60vw;
}